*{
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: rgb(202, 202, 202);
}

.container {
  width: 400px;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  padding: 25px;
  text-align: center;
  border-radius: 20px;
}

h1{
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

li {
  list-style-type: none;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}