*{
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: auto;
  text-align: center;
}

h1{
  margin: 20px;
}

li {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}